PORT=3001
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=conexao
DATABASE_PASSWORD=conexao_dev
DATABASE_NAME=conexao_municipal
# DATABASE_SSL=false

# Não usar synchronize=true em produção. Local: true só se não usar migrations.
TYPEORM_SYNC=false

JWT_SECRET=troque-em-producao-min-32-chars-ok
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=7

DEFAULT_TENANT_SLUG=luis-eduardo-magalhaes
